# Project related:
lib
include
.vscode
.idea
build
build/debug/*.dSYM  # Just in case.

# Mac OS related:
**/.DS_Store

# Aseprite related:
assets/aseprite

# Documentation related:
docs/doxygen/xml
docs/sphinx/_build
docs/sphinx/_static
docs/sphinx/_templates
